
<main>
        <!--******************dichiarazione prima riga con 3 card******************-->
         <div class="container">
            <div class="row justify-content-center mx-5">
                <style>
figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
</style>


<figure>
  <img src="/img/patatesalsiccia.jpg" alt="Trulli" style="width:100%">
  <figcaption>Questa pagina è in lavorazione... si prega di ripassare tra qualche giorno </figcaption>
</figure>

                
            </div>
        </div>
</main>